
body {
    margin: 0;
    overflow: hidden;
    background-color: lightpink;
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    font-weight: bold;
    color: white;
    padding: 1vh 2vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    z-index: 10;
    animation: glitter 5s infinite;
}

@keyframes glitter {
    0%, 100% { text-shadow: 0 0 0.5vw white, 0 0 1vw lightblue; }
    50% { text-shadow: 0 0 1vw lightblue, 0 0 1.5vw white; }
}

.map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.item {
    position: absolute;
    border: 10px solid rgba(251, 231, 239, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: grab;
    max-width: 25vw;  /* velikosti fotekk */
    max-height: 25vh; 
    object-fit: contain; /* pomery fotek */
    display: block;
}

}
.item:active {
    cursor: grabbing;
}

.info-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    pointer-events: none;
    border-radius: 5px;
}
